body{ 
    background-color: royalblue;
}
h3 {
font-size: 25px;
}
h1,
h3{
    font-family: 'Press Start 2P', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Staatliches', cursive;
    
}
.mis-imagenes{
    border: red 3px solid;
}
.texto{
    background-color:  blueviolet;
    border: black 2px solid;
    padding: 10px;
    margin: 10px 15px;
}

